target/
output/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
#.classpath
.factorypath
#.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/bin/
output/nfp.txt
output/nfpL0003.txt
/output/nfp.txt
/output/nfpL0003.txt
output/problem.html
output/solution.html
output/solution.html
*.log

### Eclipse ###
.project
.classpath

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.fleet

.DS_Store

mount
