body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#header {
    background-color: #f1f1f1;
    text-align: center;
}

#banner {
    background-color: #0057b7; /* This is the color of the banner in the screenshot */
    color: white;
    padding: 10px;
    text-align: center;
}

#banner a {
    color: #ffd700; /* This color is for the link, similar to the screenshot */
    text-decoration: none; /* Removes the underline from the link */
    font-weight: bold; /* Makes the link text bold */
}

#banner a:hover {
    text-decoration: underline; /* Adds an underline on hover for better UX */
}

#content {
    display: flex;
    min-height: calc(100vh - 100px); /* Adjust the 100px to the total height of header and footer */
}

#left, #right {
    padding: 12px;
}

#right {
    flex: 1.5;
    display: flex;
    flex-direction: column; /* Make the right div split vertically */
}

#left {
    flex: 2;
}

#top, #bottom {
    flex: 1;
}

#top {
}

#bottom {
}

#footer {
    background-color: #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
